@font-face {
  font-family: 'Friz';
  src: local('Friz'   ), url(../assets/friz-quadrata.otf) format('opentype');
}

.header {
  font-family: 'Friz';
  font-size: 1.5rem;
}

.cardContent {
  background: linear-gradient(to bottom right, #efe2b8, #d7b740) !important;
}

.swapTeams {
  position: absolute;
  top: 50%;
}

.team1 {
  background-color: #E5342E !important;
}

.team1 div {
  color: white !important;
}

.team2 {
    background-color: #0598CC !important;
}

.team2 div {
  color: white !important;
}