@font-face {
  font-family: 'Friz';
  src: local('Friz'   ), url(../assets/friz-quadrata.otf) format('opentype');
}

.header {
  font-family: 'Friz';
  font-size: 1.5rem;
}

.cardContent {
  background: linear-gradient(to bottom right, #efe2b8, #d7b740) !important;
}

.swapTeams {
  position: absolute;
  top: 50%;
}

.team1 {
  background-color: #E5342E !important;
}

/* .team1:after {
  content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0) 0%, #8C1A19 70%, #8C1A19 100%);
    position: absolute;
    top: 0;
    left: 0; 
} */

.team1 div {
  color: white !important;
}

.team2 {
    background-color: #0598CC !important;
}

/* .team2:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0) 0%, #145D88 70%, #145D88 100%);
  position: absolute;
  top: 0;
  left: 0;
} */

.team2 div {
  color: white !important;
}